.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 5px 10px 2px rgba(45, 90, 124, 0.2);
  border-top: 1px solid aqua;
  border-radius: 5px;
}
